[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git@github.com:vim-scripts/Align.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/ack-vim"]
	path = vim/bundle/ack-vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-supertab"]
	path = vim/bundle/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/ruby-matchit"]
	path = vim/bundle/ruby-matchit
	url = git@github.com:vim-scripts/ruby-matchit.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git@github.com:jwhitley/vim-matchit.git
[submodule "vim/bundle/slim"]
	path = vim/bundle/slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = git@github.com:fsouza/go.vim.git
[submodule "vim/bundle/ctrlp-cmatcher"]
	path = vim/bundle/ctrlp-cmatcher
	url = git@github.com:JazzCore/ctrlp-cmatcher.git
